<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twrite 新規入力画面</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/top.style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.7/dist/chart.umd.min.js"></script>
</head>
<body>
    <!-- ヘッダー 常に上部固定 -->
    <header>
        <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary border">
            <div class="container-fluid">
                <a class="navbar-brand" href="">
                    <img src="/images/Twriteshortlogo_transparent.png" alt="Logo" width="22" height="24" class="d-inline-block align-text-top">
                    〇〇救急相談センター
                </a>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link disabled">※救急相談OP01※</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/logout">ログアウト</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- ヘッダー -->

    <div class="container-fluid">
        <div class="row">
            <!-- サイドバー 常に左側に固定 -->
            <nav id="sidebar" class="col-sm-2 d-sm-block bg-light sidebar border">
                <div class="position-sticky">
                    <ul class="nav flex-column py-2">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/top">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                <span class="ms-2">ダッシュボード</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                            <span class="ms-2">新規入力</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                            </svg>
                            <span class="ms-2">全ての記録</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                            </svg>
                            <span class="ms-2">未承認</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                            </svg>
                            <span class="ms-2">差し戻し</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                            </svg>
                            <span class="ms-2">承認済み</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- End of End of サイドバー -->
            <!-- main -->
            <main class="col-10 col-sm px-4 py-4">
                <!-- topic -->
                <h1 class="h2 fw-bold">◆新規入力</h1>

                <form>
                    <!-- 相談開始時間 -->
                    <div class="row mb-3">
                      <label for="start_at" class="col-sm-2 col-form-label ms-3">相談開始時間</label>
                      <p class="col-sm-1 col-form-label" style="color: red;">(必須)</p>
                      <div class="col-sm-auto">
                          <input type="date" class="form-control" id="start_at" name="start_at">
                        </div>
                    </div>
                    <!-- end of 相談開始時間  -->
                    <!-- スタッフ名 -->
                    <div class="row mb-3">
                        <label for="staff_id" class="col-sm-2 col-form-label ms-3">スタッフ名</label>
                        <p class="col-sm-1 col-form-label" style="color: red;">(必須)</p>
                      <div class="col-sm-auto">
                        <select class="form-select" name="staff_id" id="staff_id">
                            <option value="1">渡邊</option>
                            <option value="2">高比良</option>
                            <option value="3">松井</option>
                        </select>
                      </div>
                    </div>
                    <!-- end of スタッフ名 -->
                    <!-- 急病者続柄 -->
                    <div class="row mb-3">
                        <label for="patient_pattern" class="col-sm-2 col-form-label ms-3">急病者 続柄</label>
                        <p class="col-sm-1 col-form-label" style="color: red;">(必須)</p>
                      <div class="col-sm-auto">
                        <select class="form-select" name="patient_pattern" id="patient_pattern">
                            <option value="1">本人</option>
                            <option value="2">娘</option>
                            <option value="3">息子</option>
                            <option value="4">父</option>
                            <option value="5">母</option>
                            <option value="6">親戚</option>
                            <option value="7">その他</option>
                        </select>
                      </div>
                    </div>
                    <!-- end of 急病者続柄 -->
                    <!-- 症状種別 -->
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label ms-3">症状種別</label>
                        <p class="col-sm-1 col-form-label" style="color: red;">(必須)</p>
                      <div class="col-sm-auto mt-1">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" name="symptoms" >
                            <label class="form-check-label" >熱発</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" name="symptoms" >
                            <label class="form-check-label" >咳嗽</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" name="symptoms" >
                            <label class="form-check-label" >鼻汁・鼻閉</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" name="symptoms" >
                            <label class="form-check-label" >咽頭痛</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" name="symptoms" >
                            <label class="form-check-label" for="熱発">咽頭違和感</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" name="symptoms" >
                            <label class="form-check-label" >腹痛</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" name="symptoms" >
                            <label class="form-check-label" >下痢</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" name="symptoms" >
                            <label class="form-check-label" >嘔気・嘔吐</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" name="symptoms" >
                            <label class="form-check-label">熱傷/label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" name="symptoms">
                            <label class="form-check-label">打撲</label>
                        </div>
                      </div>
                    </div>
                    <!-- end of 症状種別 -->
                    <fieldset class="row mb-3">
                      <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                      <div class="col-sm-10">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                          <label class="form-check-label" for="gridRadios1">
                            First radio
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                          <label class="form-check-label" for="gridRadios2">
                            Second radio
                          </label>
                        </div>
                        <div class="form-check disabled">
                          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
                          <label class="form-check-label" for="gridRadios3">
                            Third disabled radio
                          </label>
                        </div>
                      </div>
                    </fieldset>
                    <div class="row mb-3">
                      <div class="col-sm-10 offset-sm-2">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="gridCheck1">
                          <label class="form-check-label" for="gridCheck1">
                            Example checkbox
                          </label>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                  </form>
            </main>
            <!-- main -->
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Twrite. All rights reserved.</p>
    </footer>
    <script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>
