<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="description" content="コールセンターのCRMシステムへようこそ">
    <meta name="author" content="あなたの会社名"> -->
    <title>Twite トップページ</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/top.style.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                  <a class="nav-link" href="#">Features</a>
                  <a class="nav-link" href="#">Pricing</a>
                  <a class="nav-link disabled">Disabled</a>
                </div>
              </div>
            </div>
          </nav>
    </header>
    <div class="container">

        <aside class="sidebar">
            <ul>
                <li><a href="dashboard.html">ダッシュボード</a></li>
                <li><a href="contacts.html">顧客情報</a></li>
                <li><a href="reports.html">レポート</a></li>
                <li><a href="settings.html">設定</a></li>
                <li><a href="help.html">ヘルプ</a></li>
            </ul>
        </aside>
        <main>
            <section class="features">
                <h2>主な機能</h2>
                <ul>
                    <li>顧客情報の一元管理</li>
                    <li>通話履歴の記録</li>
                    <li>分析とレポート作成</li>
                    <li>カスタマイズ可能なワークフロー</li>
                </ul>
            </section>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In unde, quam hic pariatur, quos voluptate consequuntur fugiat distinctio vitae consequatur reprehenderit iure fuga perferendis, repellat nihil ipsa magni illo. Doloremque.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In unde, quam hic pariatur, quos voluptate consequuntur fugiat distinctio vitae consequatur reprehenderit iure fuga perferendis, repellat nihil ipsa magni illo. Doloremque.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In unde, quam hic pariatur, quos voluptate consequuntur fugiat distinctio vitae consequatur reprehenderit iure fuga perferendis, repellat nihil ipsa magni illo. Doloremque.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In unde, quam hic pariatur, quos voluptate consequuntur fugiat distinctio vitae consequatur reprehenderit iure fuga perferendis, repellat nihil ipsa magni illo. Doloremque.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In unde, quam hic pariatur, quos voluptate consequuntur fugiat distinctio vitae consequatur reprehenderit iure fuga perferendis, repellat nihil ipsa magni illo. Doloremque.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In unde, quam hic pariatur, quos voluptate consequuntur fugiat distinctio vitae consequatur reprehenderit iure fuga perferendis, repellat nihil ipsa magni illo. Doloremque.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In unde, quam hic pariatur, quos voluptate consequuntur fugiat distinctio vitae consequatur reprehenderit iure fuga perferendis, repellat nihil ipsa magni illo. Doloremque.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In unde, quam hic pariatur, quos voluptate consequuntur fugiat distinctio vitae consequatur reprehenderit iure fuga perferendis, repellat nihil ipsa magni illo. Doloremque.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In unde, quam hic pariatur, quos voluptate consequuntur fugiat distinctio vitae consequatur reprehenderit iure fuga perferendis, repellat nihil ipsa magni illo. Doloremque.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In unde, quam hic pariatur, quos voluptate consequuntur fugiat distinctio vitae consequatur reprehenderit iure fuga perferendis, repellat nihil ipsa magni illo. Doloremque.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In unde, quam hic pariatur, quos voluptate consequuntur fugiat distinctio vitae consequatur reprehenderit iure fuga perferendis, repellat nihil ipsa magni illo. Doloremque.</p>
        </main>
    </div>

    <footer>
        <p>&copy; 2024 あなたの会社名. All rights reserved.</p>
    </footer>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
